@media (min-width: 1200px) and (max-width: 1399px)
  .sidebar-profile
    width: 250px
  .messages-info__last
    max-width: 55rem
@media (max-width: 1199px)
  .profile
    &-sidebar
      &__buttons
        margin-bottom: 2rem
      &__btn
        width: fit-content
@media (min-width: 992px) and (max-width: 1199px)
  .sidebar
    width: 250px
    &-profile
      width: 220px
  .messages-info__last
    max-width: 45rem
@media (min-width: 768px) and (max-width: 991px)
  html
    font-size: 9px
  .sidebar
    width: 250px
@media (max-width: 991px)
  *:hover
    color: $light !important
  .search
    &__input
      width: 90%
    &__btn
      width: 10%
    &__clear
      right: 11%
  .sidebar-profile
    &__photo
      display: none
    &__wrapper
      flex-direction: row
      max-width: 720px
      margin: 0 auto
      width: 100%
    width: 100%
    left: 0
    bottom: 0
    border-radius: 0
    box-shadow: none
    &__item
      width: 25%
      text-align: center
      padding: 10px 0
      font-size: 16px
      border-left: 2px solid $primary
      &:last-child
        border-right: 2px solid $primary
  .friend
    &__buttons
      display: none
    &__icons
      display: flex
      align-items: center
    &__icon
      margin-right: 20px
      font-size: 20px
      color: $primary
      &:last-child
        margin-right: 0
  .messages
    &__item
      width: 85%
    &-part
      width: 15%
    &-info
      &__last
        max-width: 30rem
  .dialog
    &__wrapper
      position: fixed
      width: 100%
      top: 0
      left: 0
      z-index: 10
      height: 100%
      padding-bottom: 4rem
@media (max-width: 767px)
  html
    font-size: 8px
  .content
    padding-bottom: 6rem
  .header
    .menu
      display: block
    &-nav
      display: flex
      flex-direction: column
      transition: 0.3s
      position: absolute
      width: 100%
      background: $dark
      margin-top: 0
      left: 0
      top: 100%
      z-index: -1
      opacity: 0
      padding-bottom: 10px
      transform: translateY(-100%)
      &_active
        z-index: 6
        opacity: 1
        transform: translateY(0)
      &__item
        margin: 10px
  .navigation
    &__link
      padding: 10px 0
      font-size: 16px
      span
        display: none
  .sidebar-profile
    &__wrapper
      max-width: 540px
      width: 100%
      margin: 0 auto
    &__item
      span
        display: none
  .sidebar
    position: relative
    width: 100%
    margin-bottom: 2rem
    overflow: initial
    transition: 0.3s
    &__down
      display: block
      transition: 0.3s
    &__wrapper
      position: absolute
      z-index: 4
      width: 100%
      background: $dark
      top: 100%
      left: 0
      transform: translateY(-50%) scaleY(0)
    &--active
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      box-shadow: none
      .sidebar
        &__down
          transform: rotate(180deg) translateX(50%)
        &__wrapper
          transform: translateY(0) scaleY(1)
          border-bottom-right-radius: 12px
          border-bottom-left-radius: 12px
  .messages
    &__item
      width: 80%
    &-part
      width: 20%
    &-info
      &__last
        max-width: 20rem
  .dialog
    &-form
      &__input
        width: 94%
      &__btn
        width: 6%
  .profile
    &__title
      margin-top: 1rem
    &-tabs
      &__item
        margin-bottom: 2rem
        padding: 1rem 2rem