.sidebar
  display: flex
  flex-direction: column
  &__element
    display: inline-block
    color: $light
    font-size: 14px
    font-family: 'Montserrat', sans-serif
    margin: 10px 2rem
    transition: 0.3s
    font-weight: 700
    &:hover
      color: $primary